

  







  /* */


















/* body {
  background-color: rgb(100, 96, 96); 
}
.componentes-nav {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
padding-left: 1%;
padding-right: 1%;
width: 60%;
background-color: aqua;
margin-left: 20%;
padding-top: 5%;
}
.grid {
 margin-right:2%;
} */








